.wrapper{
    display: block;
    width: 100%;
    height: auto;
    background: #DDD;
    position: relative;
}

.container{
    display: block;
    width: 960px;
    margin: 0px auto;
    padding: 60px 16px;
    border: 1px solid #000;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -480px;
}

#hero-bg{
    width: 100%;
}

h1{
    font-weight: 800;
    /*position: absolute;
    top: 150px;
    left: 500px;*/
    color: white;
}

h2{
    font-weight: 600;
    /*position: absolute;
    top: 200px;
    left: 475px;*/
    color: white;
}