.wrapper{
    background-image: url("img/hero-bg.jpg");
    display: block;
    width: 100%;
    height: 100vh;
    background: #DDD;
    position: relative;
}

.container{
    display: block;
    width: 960px;
    margin: 0px auto;
    padding: 60px 16px;
<<<<<<< HEAD
    /*background: #EEE;*/
    border: 1px solid #000;
    position: absolute;
    text-align: center;
=======
    border: 1px solid #000;
    position: absolute;
>>>>>>> a80b77878da168549d5b3b02c17045e5681af423
    top: 0px;
    left: 50%;
    margin-left: -480px;
}

#hero-bg{
    width: 100%;
}

h1{
    font-weight: 800;
<<<<<<< HEAD
=======
    /*position: absolute;
    top: 150px;
    left: 500px;*/
>>>>>>> a80b77878da168549d5b3b02c17045e5681af423
    color: white;
}

h2{
    font-weight: 600;
<<<<<<< HEAD
=======
    /*position: absolute;
    top: 200px;
    left: 475px;*/
>>>>>>> a80b77878da168549d5b3b02c17045e5681af423
    color: white;
}